*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
}

body{
    background-color: #071e26;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.nav-logo a{
    color: #fff;
    font-size: 30px;
    letter-spacing: .2rem;
}

.nav-logo a span{
    color: #165a72;

}

.nav-list ul{
    display: flex;
    align-items: center;
    
}

.nav-list a{
    color: #fff;
    font-size: 17px;
    padding: 20px 30px;
    position: relative;
    display: inline-block;
}

.nav-list a::after{
    content: "";
    position: absolute;
    bottom: 0;
    /*top: -4px;*/
    left: 0;
    width: 0;
    height: 4px;
    background-color: #165a72;
    margin: 0 auto;
    transition: .5s ease;
}

.nav-list a:hover::after{
    width: 100%;
}

.menu{
    display: none;
}

.menu i{
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

section{
    padding: 100px 10%;
}

.home{
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.home-text h2{
    font-size: 24px;
    letter-spacing: .2rem;
    color: #fff;
    margin-bottom: 20px;
}

.home-text h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.home-text a{
    background-color: #165a72;
    padding: 20px 40px;
    border: 2px solid #165a72;
    color: #fff;
    display: inline-block;
    transition: .5s ease;
}

.home-text a:hover{
    background: transparent;
}

.home-img img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}

footer{
    background-color: #1c3a46;
    padding: 20px 10%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons{
    display: flex;
    /*justify-content: center;
    gap: 15px;
    margin-top: 10px;*/
    justify-content: space-around;
    margin-top: 10px;
    gap: 20px;
}

.social-icons a{
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
 
}

.social-icons a:hover{
    color: #165a72;
}

